#found{
    width: 100%;
    height: 100vh;
    background-image: url(https://2.bp.blogspot.com/-C-Funjz_Nxk/X3VYFq_QElI/AAAAAAAAB5M/EHOK3-GbnzIx4Pp0fOCReNYh5Mm453pCgCK4BGAYYCw/s1600/error-404.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1B164E;
    padding-left: 13%;
    padding-top: 20%;
    
    .box{
        h1{
            color: #67CDFF;
            font-weight: bold;
            margin-bottom: 20px;
        }
        p{
            color: #FFF;
            font-size: 20px;
            line-height: 35px;
        }
        button{
            padding: 18px  45px;
            background-color: #67CDFF;
            border: none;
            border-radius: 8mm;

            a{
                text-decoration: none;
                color: #FFF;
                font-weight: bold;

            }
        }
    }
}